body{
    background-color: #fcf8e8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
p
{
    border-style: none none none solid;
    padding-left: 2%;
    border-color: #9b5140;
}
h1{
    color: #df7861;
    align-content: 50%;
    font-family:Arial, Helvetica, sans-serif;

}
h2{
    color: #b8614e;
    font-family:Arial, Helvetica, sans-serif;
}
h3{
    color: #9b5140;
    font-family:Arial, Helvetica, sans-serif
}
ul{
    color: #df7861;
}

a{
    color: #bd2c19;
}

hr{
    border:  #d4e2d460;
    border-style: dotted none none none;
    border-width: 10px;
    width: 10%;
    height: 11%;
    padding-top: 1%;
    padding-bottom: 1%;
}
img{
    border: solid #d4e2d483;
    border-radius: 5%;
}
footer
{
    background-color: #d4e2d4;
    padding: 1%;
    width: 50%;
    border-style: none none none solid;
    border-color: #bd2c19;
}
table
{
    outline-width: 4px;
    border-style:  solid none solid none;
    border-color: #bd2c1946;
    border-radius: 20px;
}

.BookImage
{
    border-color: black;
    border-radius: 10px;
    border-style: ridge;
}

.BookImage:hover
{
    border-color: rgb(143, 143, 143);
    border-radius: 100px;
    width: 100px;
    height: 140px;
}